*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a
{
		text-decoration: none;
		color: white;
}


header > a
{
	background-color: purple;
}

header > nav > a
{
	color: purple;

}

header > a, header > nav > a
{
		padding: 25px;
		display: inline-block;
}
body
{
  background-color:#FFC0CB;
  color: MidnightBlue;
}



h1 ~ p
{
	color: blue;
}


nav
{
	display: inline-block;
}



header > a, main > h1
{
	text-transform: uppercase;
}

header > nav > a:hover
{
	color: white;
	background-color: purple; 
}


header
{
	display: grid;
	grid-template-columns: minmax auto  minmax(auto, 20em);
	font-size: 2rem;
}

header > a, header > nav, header > section
{
	display: inline-grid;
	place-items: center;
}

header > nav
{
	grid-template-columns: auto auto;
}

header > section
{
	grid-template-columns: auto auto;
	justify-self: end;
	column-gap: 0.5em;
}

body {
  background: #d6eaf8;
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.gradient-button:hover {
  background-position: right center;
}

@media (max-width: 770px)
{
	header
	{
		grid-template-columns: lfr;
	}
	
	header > nav
	{
		grid-template-rows:mixmax(2.75em, auto);
		
	}
	
grid-container {
  display: grid;  
  grid-template-areas: "header header"  
                       "sidebar content"  
                       "sidebar content";
  grid-template-columns: 150px 1fr;  
  grid-template-rows: 50px 1fr 50px; 
}
header { 
  grid-area: header;
}  
aside { 
  grid-area: sidebar; 
}  
main { 
  grid-area: content; 
}
}

{
   box-sizing: border-box;
}
.image-wrapper {
   position: relative;
   max-width: 400px;
   margin: 50px auto;
   padding: 15px;
   background: #FFC0CB;
}
.image-inner {
   position: relative;
}
.image-wrapper img {
   display: block;
   width: 100%;
}
.image-wrapper:before, .image-wrapper:after, .image-inner:before, .image-inner:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 50px;
}
.image-wrapper:before {
   bottom: 0;
   left: 0;
   border-left: 6px double #384D26;
   border-bottom: 6px double #384D26;
}
.image-wrapper:after {
   right: 0;
   top: 0;
   border-right: 6px double #384D26;
   border-top: 6px double #384D26;
}
.image-inner:before {
   bottom: -15px;
   right: -15px;
   border-right: 6px double #384D26;
   border-bottom: 6px double #384D26;
}
.image-inner:after {
   top: -15px;
   left: -15px;
   border-left: 6px double #384D26;
   border-top: 6px double #384D26;
}

blockquote {
margin: 0;
background: #FFF4ED;
padding: 40px;
color: #3F484D;
position: relative;
font-family: 'Lato', sans-serif;
text-align: center;
}
blockquote:before, blockquote:after {
font-size: 45px;
color: #3CA1D9;
position: absolute;
height: 2px;
left: 40px;
right: 40px;
line-height: .5;
background: linear-gradient(to right, #3CA1D9 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #3CA1D9 55%);
font-family: serif;
}
blockquote:before {
content: "\201C";
top: 30px;
}
blockquote:after {
content: "\201D";
bottom: 30px;
}
blockquote p {
font-size: 20px;
}
blockquote footer {
margin-bottom: 1em;
}
blockquote cite {
font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);
body {
   margin: 0;
}
.post {
   width: 660px;
   margin: 0 auto;
   text-align: center;
}
.post-header {
   margin-bottom: 35px;
}
h1 {
   font-family: 'Tenor Sans', sans-serif;
   font-size: 26px;
   color: #111;
   letter-spacing: 2px;
   line-height: 1.4em;
   text-transform: uppercase;
   margin-bottom: 0;
}
.dots span {
   display: inline-block;
   width: 6px;
   height: 6px;
   background: #DDDDDD;
   border-radius: 50%;
   box-shadow: 12px 0 0 0 #DDDDDD, 24px 0 0 0 #DDDDDD, -12px 0 0 0 #DDDDDD, -24px 0 0 0 #DDDDDD;
}
.info {
   margin-top: 14px;
}
span {
   font-size: 14px;
   font-style: italic;
   color: #999;
   font-family: 'PT Serif', serif;
}
figure {
   position: relative;
   margin: 0 0 30px;
}
figure:before {
   content: "";
   position: absolute;
   display: inline-block;
   width: 0;
   height: 0;
   border-left: 14px solid transparent;
   border-right: 14px solid transparent;
   border-top: 20px solid white;
   left: calc(50% - 14px);
   left: -webkit-calc(50% - 14px);
   top: 0;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}
figcaption {
   font-family: 'Tenor Sans', sans-serif;
   font-size: 11px;
   text-transform: uppercase;
   color: white;
   letter-spacing: 1px;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   line-height: 1.6;
   background: rgba(0, 0, 0, .6);
   padding: 15px;
}
p {
   font-family: 'PT Serif', serif;
   line-height: 1.8;
   color: #555555;
   font-size: 14px;
}

{
   box-sizing: border-box;
}
.transparent {
   position: relative;
   max-width: 400px;
   padding: 60px 50px;
   margin: 50px auto 0;
   background-image: url(https://html5book.ru/wp-content/uploads/2017/01/photo-roses.jpg);
   background-size: cover;
}
.transparent:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(to right bottom, rgba(43, 44, 78, .5), rgba(104, 22, 96, .5));
}
.form-inner {
   position: relative;
}
.form-inner h3 {
   position: relative;
   margin-top: 0;
   color: white;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 26px;
   text-transform: uppercase;
}
.form-inner h3:after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -6px;
   height: 2px;
   width: 60px;
   background: #1762EE;
}
.form-inner label {
   display: block;
   padding-left: 15px;
   font-family: 'Roboto', sans-serif;
   color: rgba(255, 255, 255, .6);
   text-transform: uppercase;
   font-size: 14px;
}
.form-inner input {
   display: block;
   width: 100%;
   padding: 0 15px;
   margin: 10px 0 15px;
   border-width: 0;
   line-height: 40px;
   border-radius: 20px;
   color: white;
   background: rgba(255, 255, 255, .2);
   font-family: 'Roboto', sans-serif;
}
.form-inner input[type="checkbox"] {
   position: absolute;
   opacity: 0;
}
#custom-checkbox+label {
   position: relative;
   margin: 20px 0;
   text-transform: none;
   cursor: pointer;
}
#custom-checkbox+label:before {
   content: "";
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-right: 10px;
   vertical-align: text-top;
   background: white;
}
#custom-checkbox:checked+label:before {
   background: #1762EE;
}
#custom-checkbox:checked+label:after {
   content: "";
   position: absolute;
   width: 2px;
   height: 2px;
   left: 20px;
   top: 9px;
   background: white;
   box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
   transform: rotate(45deg);
}
.form-inner input[type="submit"] {
   background: #1762EE;
}

#Анимация

body {
  margin: 0;
  text-align: center;
  background: url(https://html5book.ru/wp-content/uploads/2015/06/background32.jpg);
}
h1 {
  font-family: 'Cinzel', serif;
  color: #D72F2C;
  text-shadow: 2px 2px 0 #D9D9D9, 4px 4px 0 white;
}
#container {
  background: url(https://html5book.ru/wp-content/uploads/2015/07/grass.png);
  background-repeat: no-repeat;
  -webkit-perspective: 600px;
  -webkit-perspective-origin: 50% 0%;
  perspective: 600px;
  perspective-origin: 50% 0%; 
  width: 660px;
  height: 100%;
  margin: 50px auto 0;
}
#butterfly {
  position: relative;
  width: 350px;
  height: 312px;
  -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  -ms-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: butterfly 5s linear infinite;
  animation: butterfly 5s linear infinite;
}
#leftwing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 312px;
  background-image: url(https://html5book.ru/wp-content/uploads/2015/06/butterfly.png);
  background-repeat: no-repeat;
  -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  -ms-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  -webkit-transform-origin: inherit;
  -ms-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-animation: leftwing 0.2s linear infinite;
  animation: leftwing 0.2s linear infinite;
}
#rightwing {
  position: absolute;
  left: 175px;
  top: 0px;
  width: 200px;
  height: 312px;
  background-image: url(https://html5book.ru/wp-content/uploads/2015/06/butterfly.png);
  background-repeat: no-repeat;
  -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  -webkit-transform-origin: inherit;
  -ms-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-animation: rightwing 0.2s linear infinite;
  animation: rightwing 0.2s linear infinite;
}
@-webkit-keyframes butterfly {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
}
@keyframes butterfly {
  from {
    transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  25% {
    transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  50% {
    transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  75% {
    transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
}
@-webkit-keyframes rightwing {
  from {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
  }
  to {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes rightwing {
  from {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
  }
  to {
    transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@-webkit-keyframes leftwing {
  from {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes leftwing {
  from {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
  }
  to {
    transform: rotateX(90deg) rotate3d(0, 1, 0, 00deg);
  }
}


